<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="apiQA.url" value="https://luxapiqa.editoraintersaberes.com.br/api/" />
    <add key="apiDEV.url" value="https://luxapidev.editoraintersaberes.com.br/api/" />
    <add key="apiPROD.url" value="https://luxapi.editoraintersaberes.com.br/api/" />
  </appSettings>
</configuration>